<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">  
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", type: "module", defer: true %>

  </head>

  <body class="h-[100dvh] overflow-hidden flex flex-col bg-gradient-to-br from-gray-200 via-gray-100 to-white">
    <!-- ヘッダー -->
    <header class="h-16 bg-white shadow-md px-6 py-4 flex justify-between items-center flex-none">
      <%= link_to "CodeLog", root_path, class: "text-xl font-bold text-purple-600 hover:underline" %>

      <nav class="space-x-4">
        <%= link_to "このアプリについて", pages_about_path, class: "text-sm text-gray-600 hover:text-purple-600" %>
        <% if user_signed_in? %>
          <%= link_to "マイページ", mypage_user_path(current_user.id), class: "text-gray-700 hover:text-purple-600" %>
          <%= link_to "リポジトリ一覧", repositories_path, class: "text-gray-700 hover:text-purple-600" %>
          <%= link_to "＋ 登録", new_repository_path, class: "text-gray-700 hover:text-purple-600" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-red-500 hover:text-red-600" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "text-blue-500 hover:underline" %>
          <%= link_to "新規登録", new_user_registration_path, class: "text-green-500 hover:underline" %>
        <% end %>
      </nav>
    </header>

    <!-- Flashメッセージ -->
    <% flash.each do |type, message| %>
      <div class="mx-auto max-w-3xl w-full px-4 mt-4" id="flash-message">
        <div class="p-4 rounded text-white <%= type == "notice" ? 'bg-green-500' : 'bg-red-500' %>">
          <%= message %>
        </div>
      </div>
    <% end %>

    <script>
      function hideFlashMessage() {
        const flash = document.getElementById("flash-message");
        if (flash) {
          setTimeout(() => {
            flash.style.display = "none";
          }, 2000)
        }
      }
      document.addEventListener("DOMContentLoaded", hideFlashMessage);
      document.addEventListener("turbo:load", hideFlashMessage);
    </script>

    <!-- メインコンテンツ -->
    <main class="flex-1 flex overflow-hidden">
      <%= yield %>
    </main>
  </body>

</html>
